* {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    background: #FFFFFF;
}

.footer {
    display: flex;
    background: #E74040;
    padding: 20px;
}

.logo{
    margin-left: 136px;
    background: #E74040;
    padding: 10px;
}

.menu-principal {
    display: flex;
}

.menu {
    display: flex;
    padding: 10px;
    margin: 0px 240px 0px 83px;
}



