@import "./style-header.css";
@import "./style-introducao.css";


* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li, p, a{
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

body {
    background: #FFFFFF;
    font-family:  'Montserrat', sans-serif;
}

img {
    display: block;
    max-width: 100%;/* faz com que a imagem fique respoinsivo sempre aumentado ou diminuindo de arcordo com a tela*/
}