* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li, p, a{
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFFFFF;
    font-family:  'Montserrat', sans-serif;
}

img {
    display: block;
    max-width: 100%;/* faz com que a imagem fique respoinsivo sempre aumentado ou diminuindo de arcordo com a tela*/
}

/* Footer */

.footer {
    display: flex;
    max-width: 100%;
    background: #E74040;
    padding: 20px;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    flex-wrap: wrap;
}

.menu-principal {
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    justify-content: space-between;
}

h3{
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 10px;
    width: 150px;
}
.menu {
    display: flex;
    padding: 15px;
    text-align: center;
    flex-wrap: wrap;
}

.menu a{
    color: #FFFFFF;
    padding: 0px 10px;
    transition: 0.1s;
}

.menu a:hover{
    background: #FF6551;
    padding: 10px;
    border-radius: 5px;
    color: #FFFFFF;
}

.menu li+li {
    margin-left: 20px;
}

.login{
    display: flex;
    padding: 15px;
    margin-left: 120px;
    text-align: center;
    flex-wrap: wrap;
}

.login li+li {
    margin-left: 45px;
}

.login a{
    padding: 15px 25px;
    background: #FF6551;
    border-radius: 5px;
    color: #FFFFFF;
    transition: 0.1s;
}

.login a:hover{
    background: rgb(255, 101, 81, 0.60);
}

.login a::after{
    content: '🡢';
    margin-left: 15px;

}

@media (max-width: 950px) {
    h3 {
        width: 150px;
    }
    
}

