
.introducao{
    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    justify-content: center; /*alinha no eixo x*/
    align-items: center;
    margin: 0 auto;
    top: -10px;
    background: url("../img/icones/Vector\ \(2\).svg") no-repeat center;
    background-size: cover; /*faz a imagem expandi na tela toda*/
    flex-wrap: wrap;
}


.intro-caracteristica{
    display: block;
    width: 400px;
    margin: 0px 100px 0px 120px;
    
}


.intro-caracteristica h1 {
    max-width: 600px;
    width: 600px;
    min-width: 140px;
    font-size: 3.375rem;
    line-height: 5rem;
    letter-spacing: 0.0125rem;
}

.intro-caracteristica h4{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.0125rem;
    font-weight: normal;
}

.intro-caracteristica h5{
    margin-bottom: 30px;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

.now-button{
    background: #FF6551;
    padding: 15px 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.now-button:hover{
    background: rgb(255, 101, 81, 0.60);
    cursor: pointer;

}

.learn-button {
    border: 2px solid #FF6551;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.learn-button:hover{
    background: rgb(255, 101, 81, 0.40);
    border: 2px solid #ffffff;
}

.intro-img{
    display: flex;
    top: 40px;
    min-width: 100px;
    position: relative;
    align-items: flex-end;
    margin-right: 30px;
}

@media (max-width: 1260px){

    .intro-caracteristica {
        margin-right: 10px;
    }
    
    .intro-caracteristica h1 {
        font-size: 3rem;
        line-height: 3.75rem;
        width: 500px;
    }
    .intro-caracteristica h5 {
        margin-bottom: 10px;
    }

    .intro-img {
        width: 500px;
        min-width: 300px;
        margin-left: 100px;
    }
}

@media (max-width: 1253px){
    .intro-caracteristica {
        margin-right: 10px;
        width: 300px;
    }
    
    .intro-caracteristica h1 {
        font-size: 2.5rem;
        
        width: 350px;
    }
    .intro-caracteristica h5 {
        margin-bottom: 10px;
    }

    .intro-img {
        width: 500px;
        margin-left: 100px;
    }

}

@media (max-width: 1250px){
    .intro-caracteristica {
        margin-left: 90px;
        margin-right: 10px;
        width: 400px;
    }
    
    .intro-caracteristica h1 {
        font-size: 2.5rem;
        width: 350px;
    }
    .intro-caracteristica h5 {
        margin-bottom: 10px;
    }

    .intro-img {
        width: 500px;
        margin-left: 100px;
    }

    .learn-button {
        width: 100px;
    }

}

@media (max-width: 1151px) {
    .intro-caracteristica {
        width: 350px;
    }

    .learn-button {
        width: 100px;
       
    }

    .now-button{
        background: #FF6551;
        padding: 15px 25px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .learn-button {
        border: 2px solid #FF6551;
        padding: 15px 25px;
        border-radius: 5px;
        cursor: pointer;
    }

    .intro-img {
        width: 500px;
        margin-left: 100px;
        
    }
}





@media (max-width: 1080px){
    .intro-caracteristica {
        width: 300px;
    }

    .learn-button {
        width: 100px;
       
    }

    .intro-caracteristica h4{
        margin: 10px 0 30px 0;
    }

    .now-button{
        background: #FF6551;
        font-size: 0.75rem;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .learn-button {
        border: 2px solid #FF6551;
        font-size: 0.75rem;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .intro-img {
        width: 400px;
        margin-left: 55px;
        top: 20px;
    }
} 

@media (max-width: 886px){
    .intro-caracteristica {
        margin-right: 40px;
        margin-left: 80px;
        width: 200px;
    }

    .learn-button {
        width: 100px;
       
    }
    .intro-caracteristica h1 {
        font-size: 2.1875rem;
        line-height: 3rem;
    }

    .intro-caracteristica h5{
        font-size: 0.75rem;
    }

    .intro-caracteristica h4{
        font-size: 1rem;
    }


    .intro-caracteristica h4{
        margin: 10px 0 30px 0;
    }

    .now-button{
        background: #FF6551;
        font-size: 0.625rem;
        padding: 10px 12px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .learn-button {
        border: 2px solid #FF6551;
        font-size: 0.625rem;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .intro-img {

        top: 20px;
        width: 400px;
        left: 40px;
    }
} 


@media (max-width: 826px){
    .intro-caracteristica {
        margin-right: 0px;
        margin-left: 40px;
        width: 200px;
    }

    .learn-button {
        width: 100px;
       
    }
    .intro-caracteristica h1 {
        font-size: 1.5625rem;
        width: 100px;
        line-height: 2rem;
        width: 300px;
    }

    .intro-caracteristica h5{
        font-size: 0.625rem;
    }

    .intro-caracteristica h4{
        font-size: 0.75rem;
        width: 200px;
        margin: 10px 0 10px 0;
        line-height: 1.25rem;
    }

    .now-button{
        background: #FF6551;
        font-size: 0.625rem;
        padding: 5px 5px;
        margin-right: 10px;
        border-radius: 5px;
    }

    .learn-button {
        border: 2px solid #FF6551;
        font-size: 0.625rem;
        padding: 5px 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .intro-img {

        top: 20px;
        width: 300px;
        left: 0px;
    }
} 


@media (max-width: 630px){
    .intro-caracteristica h1 {
        width: 220px;
    }
    .intro-img {
        top: 20px;
        width: 200px;
        left: 10px;
        margin: 0px auto;
    }
} 


@media (max-width: 541px){
    .intro-caracteristica{
        margin: 0px 18px;
    }

    .intro-caracteristica h5 {
        margin-bottom: 0px;
    }

    .intro-img {
        top: 20px;
        width: 200px;
        left: 10px;
        margin: 0px auto;
    }
} 

@media (max-width: 534px){

    .intro-caracteristica{
        margin: 0px 0px 0px 10px;
        padding: 12px;
    }

    .intro-caracteristica h5 {
        margin-bottom: 0px;
    }

    .now-button {
        padding: 6px;
    }

    .intro-img {
        top: 20px;
        left: 20px;
        margin: 0px auto;
    }
}




@media (max-width: 508px){
    .intro-caracteristica{
        margin: 15px;
        padding: 5px;
        width: 150px;
    }

    .intro-caracteristica h1{
        width: 180px;
    }
    .intro-caracteristica h4{
        width: 180px;
    }

    .learn-button {
        position: absolute;
        text-align: center;
        width: 80px;
        margin-top: -2px;
    }

    .intro-img{
        left: 10px;
        margin: 5px;
    }
}

@media (max-width: 488px){
    .introducao {
        flex-direction: column-reverse;
        color: #252B42;
    }

    .intro-caracteristica {
        width: 300px;
        position: absolute;
        top: 320px;
    }

    .intro-caracteristica h1{
        font-size: 1.875rem;
        color: #252B42;
        width: 300px;
    }

    .intro-caracteristica h5{
        color: #FF6551;
    }

    .intro-caracteristica h4{
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 220px;
    }


    .learn-button {
        
        color: #FF6551;
        padding: 8px 5px;
        width: 100px;
        top:  160px;
    }

    .now-button {
        padding: 10px 15px;
    }
}






